/* ----- GÉNÉRALITÉS ----- */
*{
  margin: 0 0;
  padding: 0 0;
}
#page{
  background: radial-gradient(at 50% 128%, yellow 188px, #da3e00 42%, #28002d 76%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* ----- ENTÊTE DE PAGE ----- */
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20%;
}
h1{
  color: #fdeeaa;
  font-size: 5.3vw;
}
#title{
  font-family: 'Style Script', cursive;
  color: #fdeeaa;
  font-size: 1.5vw;
}

/* ----- CORPS DE PAGE ----- */
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}
#general{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85%;
}
/* texte et auteur*/
#containt{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 100%;
}
#text{
  display: flex;
  justify-content: center;
  width: 49%;
  height: 82%;
  background: #e3d0b6;
  border-radius: 60px 60px 15px 15px;
  border: 5px double black;
}
#words{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 97%;
  text-align: justify;
  font-family: 'Style Script', cursive;
  font-size: 2.3vw;
}
#author{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 13%;
  background: #e3d0b6;
  text-align: center;
  border-radius: 30px 30px 5px 5px;
  border-top: 5px double black;
  font-size: 1.5vw;
  font-weight: bold;
}
/*bouton*/
#button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 31%;
  height: 11%;
  background: linear-gradient(#ac2000, orange);
  border-radius: 5px 5px 40px 40px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
#citation{
  color: #e3d0b6;
  font-size: 1.9vw;
}

/* ----- PIED DE PAGE ----- */
footer{
  height: 5%;
}
#prod{
  text-align: center;
  font-size: 0.9vw;
}

/* ----- RESPONSIVE ----- */
@media screen and (max-width: 1150px){
  #page{
    background: radial-gradient(at 50% 140%, yellow 188px, #da3e00 42%, #28002d 76%);
  }
  #author{
    border-radius: 20px 20px 5px 5px;
  }
  #button{
    border-radius: 5px 5px 25px 25px;
  }
}
@media screen and (max-width: 900px){
  #page{
    background: radial-gradient(at 50% 172%, yellow 183px, #da3e00 42%, #28002d 76%);
  }
  #text{
    width: 63%;
    border-radius: 35px 35px 10px 10px;
  }
  #words{
    font-size: 3.1vw;
  }
  #author{
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 750px){
  #page{
    background: radial-gradient(at 50% 193%, yellow 183px, #da3e00 48%, #28002d 88%);
  }
  #button{
    border-radius: 5px 5px 20px 20px;
  }
}
@media screen and (max-width: 630px){
  #page{
    background: radial-gradient(at 50% 231%, yellow 175px, #da3e00 51%, #28002d 91%);
  }
  h1{
    font-size: 8.3vw;
  }
  #title{
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 555px){
  #page{
    background: radial-gradient(at 50% 276%, yellow 175px, #da3e00 57%, #28002d 91%);
  }
  h1{
    font-size: 4.4vw;
  }
  #title{
    font-size: 2.5vw;
  }
  #text{
    width: 77%;
    border-radius: 35px 35px 10px 10px;
  }
  #words{
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 490px){
  #page{
    background: radial-gradient(at 50% 293%, yellow 156px, #da3e00 60%, #28002d 78%);
  }
  h1{
    font-size: 6.5vw;
  }
  #title{
    font-size: 2.5vw;
  }
  #words{
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 420px){
  #page{
    background: radial-gradient(at 50% 310%, yellow 135px, #da3e00 57%, #28002d 91%);
  }
  #words{
    font-size: 6vw;
  }
  #author{
    width: 50%;
    font-size: 3.1vw;
  }
  #button{
    width: 41%;
  }
  #citation{
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 370px){
  #page{
    background: radial-gradient(at 55% 301%, yellow 120px, #da3e00 53%, #28002d 94%);
  }
}
@media screen and (max-width: 325px){
  #page{
    background: radial-gradient(at 64% 324%, yellow 127px, #da3e00 57%, #28002d 94%);
  }
}
@media screen and (max-width: 275px){
  #page{
    background: radial-gradient(at 51% 267%, yellow 87px, #da3e00 59%, #28002d 89%);
  }
}
@media screen and (max-width: 240px){
  #page{
    background: radial-gradient(at 56% 353%, yellow 81px, #da3e00 56%, #28002d 92%);
  }
}
@media screen and (max-width: 195px){
  #page{
    background: radial-gradient(at 59% 369%, yellow 80px, #da3e00 54%, #28002d 95%);
  }
}